<vtlink database="vistrails" host="alps.ethz.ch" port="3306" vtid="10" execute="True" showSpreadsheetOnly="True" forceDB="False" vtcontent="Pipeline cannot be instantiated:
  VistrailsDBException: invalid workflow version 172" />